{% extends layout %}
{% block  content %}
<main class="container mt-3">
    <h1>Välkommen tillbaka {{ user }}</h1>

    <p>Detta är superhemligt och detta är en viktig uppdatering för att testa.</p>

    <a href="/logout">Logout</a>
</main>
{% endblock %}